.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: #fff;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer span {
  font-weight: bold;
  color: #61dafb;
}
